<div class="row justify-content-center">
    <div class="col col-8">
        <h2 class="text-center"> Tạo Xe Mới </h2>
        <form action="/cars/store" method="post">
            <div class="form-group">
                <label for="carName"> Tên Xe: </label>
                <input type="text" class="form-control" name="carName" placeholder="CarName" id="carName">
            </div>
            <div class="form-group">
                <label for="carImage"> Hình Ảnh Xe: </label>
                <input type="text" class="form-control" name="carImage" placeholder="CarImage" id="carImage">
            </div>
            <div class="form-group">
                <label for="carManufacture"> Hãng Sản Xuất: </label>
                <input type="text" class="form-control" name="carManufacture" placeholder="CarManufacture" id="carManufacture">
            </div>
            <div class="form-group">
                <label for="carEngine"> Động Cơ Xe: </label>
                <input type="text" class="form-control" name="carEngine" placeholder="CarEngine" id="carEngine">
            </div>
            <div class="form-group">
                <label for="carPower"> CarPower: </label>
                <input type="text" class="form-control" name="carPower" placeholder="CarPower" id="carPower">
            </div>
            <div class="form-group">
                <label for="carPrice"> Giá Bán: </label>
                <input type="text" class="form-control" name="carPrice" placeholder="CarPrice" id="carPrice">
            </div>
            <div class="form-group">
                <label for="carTopSpeed"> Tốc Độ: </label>
                <input type="text" class="form-control" name="carTopSpeed" placeholder="CarTopSpeed" id="carTopSpeed">
            </div>
            <div class="form-group">
                <p class="text-danger"> {{message}} </p>
            </div>
            <button type="submit" class="btn btn-primary"> Tạo </button>
        </form>
    </div>
</div>